.loading{

  width:100%;
  height:100%;

  background:#fff;

  position:fixed;
  top:0;
  left:0;

  transition:all 1s ease-out;

  z-index:99999;

  &-inner{

    width:77px;
    padding-top:40px;
    text-align:center;

    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);

    text-indent:-99999em;

    &.opacity{
      opacity:0;
    }

    &:after{
      content:"";
      display:block;
      width:150px;
      height:56px;
      background:url(/static/loading.gif) no-repeat;
      position:absolute;
      top:0;
      left:0;
    }
  }

  &.opacity{
    opacity:0;
  }

  &.none{
    display:none;
  }

}

.footer-graft + footer{
  margin-top:0;
}
.footer *{box-sizing: border-box;}
.footer li{line-height:1;}
.footer{
  margin-top:120px;
  min-width: 1359px;
  background: #fff;
  padding:24px 0;
  border-top:1px solid #dcdfe4;
  &-inside{
    @extend %clearfix;
  }
  &-align.left{
    float:left
  }
  .fnb{
    &-list{
      font-size:0;
      &-item{
        margin-left:10px;
        display:inline-block;
        &:before{
          content:'';
          display:inline-block;
          width:1px;
          height:11px;
          background:#ccc;
          margin-right:10px;
        }

        &:first-child{
          margin-left:0;
        }

        &:first-child:before{
          display:none;
        }
      }
      &-link{
        color:#222;
        font-size:0.875rem;
        font-weight:600;
        text-decoration:none;
        &:hover{
          opacity:.5
        }
      }
    }
  }
  &-call{
    margin:28px 0 20px 0;
    font-size:1.125rem;
    font-weight:600;
    &-num{
      color:#2c8179;
      font-weight:900;
    }
  }

  &-contact{
    margin-bottom:12px;
    font-size:0;
    &-item{
      display:inline-block;
      color:#666;
      font-size:0.875rem;
      margin-right:10px;
      &:before{
        content:'';
        display:inline-block;
        width:1px;
        height:11px;
        background:#ccc;
        margin-right:10px;
      }
      &:first-child{
        margin-left:0px;
      }
      &:first-child:before{
        display:none;
      }
    }
  }

  &-copyright{
    color:#666;
    font-size:0.75rem;
    letter-spacing:.3px;
    font-style:oblique;
  }

  &-align.right{
    float:right;
    margin-top:-16px;
  }

  .sns{
    @extend %clearfix;
    &-list{
      float:right;
      margin-right:-11px;
      font-size:0;
      &-item{
        display:inline-block;
        margin-right:10px;
      }
      &-link{
        width:22px;
        height:22px;
        &:hover{
          opacity:.5;
        }

      }
    }
  }
  .relsite{
    //float:right;
    width:202px;
    height:32px;
    margin:20px 0 12px 0;
    .select-list{
      top:-391px;
      width:202px;
      max-height:392px;
    }
  }

  .incheon-select{
    @extend %clearfix;
    width:100%;
  }

}

/* link type select box */
.select-link {
  // 아래서 위로 올라오는 경우  class="ico arrow_down" :: class="select-list up"
  // 위에서 아래로 내려가는 경우  class="ico arrow_up" :: class="select-list"
  // 포지셔닝은 class="select-link" 의 해당 위치에있는 별도 클래스로 지정.
  background: #fff;
  position: relative;

  &-default {
    width: 100%;
    height: 100%;
    background: none;
    padding: 0;
    color: #666;
    font-size: 0.8125rem;
    font-weight: 400;
    line-height: 0;
    text-align: left;
    text-indent: 10px;
    position: relative;
    border: 1px solid #d9d9d9;

    &.on {
      border-color: #666;
    }

    .ico {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      width: 30px;
      height: 30px;
      background: none;
      margin: auto;
      border: none;

      &:after {
        transition: all .4s;
      }

      &:before {
        content: '';
        display: inline-block;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 1px;
        height: 18px;
        background: #d9d9d9;
      }
    }

    &.on .ico:after {
      transform: rotate(180deg);
    }
  }

  .select-list {
    display: none;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    top: 31px;
    background: #fff;
    transition: height .4s;
    border: 1px solid #d9d9d9;
    z-index: 10;

    &.on {
      display: block;

      &.up {
        border-color: #666;
        border-bottom-color: #d9d9d9;
      }

      &.down {
        border-color: #666;
        border-top-color: #d9d9d9;
      }
    }

    &-item {
      line-height: 30px;
      text-indent: 10px;
    }
    &-link {
      display: block;
      width: 100%;
      height: 100%;
      color: #666;
      font-size: 0.8125rem;
      font-weight: 400;
      text-decoration: none;
      &:hover {
        background: #4674c9;
        color: #fff;
      }
    }
  }

}