/* exo - en */
@font-face {
  font-family: "exo";
  font-weight: 300;
  src: url("/static/fonts/exo/exo_Th.woff") format("woff");
}

@font-face {
  font-family: "exo";
  font-weight: 400;
  src: url("/static/fonts/exo/exo_L.woff") format("woff");
}

@font-face {
  font-family: "exo";
  font-weight: 700;
  src: url("/static/fonts/exo/exo_R.woff") format("woff");
}

/* roboto - en */
@font-face {
  font-family: "roboto";
  font-weight: 300;
  src: url("/static/fonts/roboto/roboto_Th.woff") format("woff");
}

@font-face {
  font-family: "roboto";
  font-weight: 400;
  src: url("/static/fonts/roboto/roboto_L.woff") format("woff");
}

@font-face {
  font-family: "roboto";
  font-weight: 700;
  src: url("/static/fonts/roboto/roboto_R.woff") format("woff");
}

/* spoqa - ko */
@font-face {
  font-family: "spoqa";
  font-weight: 300;
  src: url("/static/fonts/spoqa/spoqa_Th.woff") format("woff");
}

@font-face {
  font-family: "spoqa";
  font-weight: 400;
  src: url("/static/fonts/spoqa/spoqa_L.woff") format("woff");
}

@font-face {
  font-family: "spoqa";
  font-weight: 700;
  src: url("/static/fonts/spoqa/spoqa_R.woff") format("woff");
}

@font-face {
  font-family: "spoqa";
  font-weight: 900;
  src: url("/static/fonts/spoqa/spoqa_B.woff") format("woff");
}

/* nanum sqaure - ko */
@font-face {
  font-family: "nanumsq";
  font-weight: 300;
  src: url("/static/fonts/nanumsq/ns_L.woff") format("woff");
}

@font-face {
  font-family: "nanumsq";
  font-weight: 400;
  src: url("/static/fonts/nanumsq/ns_R.woff") format("woff");
}

@font-face {
  font-family: "nanumsq";
  font-weight: 700;
  src: url("/static/fonts/nanumsq/ns_B.woff") format("woff");
}